<html>
<head>
  <title>Random Jeopardy</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='angular-material/angular-material.css') }}">
</head>
<body>

  <script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
  <script src="{{ url_for('bower.static', filename='angular-aria/angular-aria.min.js') }}"></script>
  <script src="{{ url_for('bower.static', filename='angular-animate/angular-animate.min.js') }}"></script>
  <script src="{{ url_for('bower.static', filename='angular-material/angular-material.min.js') }}"></script>

</body>
</html>
